---
layout: default
title: Human-Centred Machine Learning
---

<div class="catalogue-item">
  <h1 class="catalogue-title">Human-Centred Machine Learning</h1>
  <div class="catalogue-line"></div>

  <p>
    Every stage of building Machine Learning systems involves humans, from the data, to design, and deployment. Understanding this interaction with humans, as well as the influence (both intentionally and unintentionally) that humans may have on AI systems and AI systems on humans is at the core of Human-Centred Machine learning. 
  </p>
  <p> 
    The course will discuss how to design and build AI systems which prioritise and adapt to human needs and preferences, as well as considerations on whose values are being encoded and what trade-offs are being made will be discussed.
  </p>
</div>

<div class="catalogue-item" id="schedule">
  <h1 class="catalogue-title">Schedule</h1>
  <div class="catalogue-line"></div>
  <p>Schedule is not definitive and may change.</p>
  {% capture s1 %}{% include schedule.md %}{% endcapture %}
  {{ s1 | markdownify }}
</div>

<div class="catalogue-item" id="contact">
  <h1 class="catalogue-title">Contact</h1>
  <div class="catalogue-line"></div>

  <p>
    Students can use the <a href="https://canvas.uva.nl/courses/45957/discussion_topics" target="_blank">Canvas discussion board</a> or the lab sessions for course-related questions. 
    
    For private/other matters you can contact the course coordinator Nanne van Noord (<a href="mailto:n.j.e.vannoord@uva.nl">n.j.e.vannoord@uva.nl</a>)
  </p>
</div>